/* css */

*{
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #0D1227;
    scroll-behavior: smooth;
}

body {

}

::selection {
    color: orange;
}

::-webkit-scrollbar { 
    display: none; 
}

.deepPurple {
    color: #0D1227;
}

.violet {
    color: #7D57FF;
}

.blue {
    color: #46A8FF;
}

.pink {
    color: #FF6BA0;
}

.orange {
    color: #FFC26A;
}

.green {
    color: #4FCC6B;
}

.white{
    color: #FFF;
}

.whiteBG {
    background-color: #FFF;
}

h1 {
    margin: inherit;
    font-family: Georgia-Bold;
    font-size: 88px;
    line-height: 96px;
}

h2 {
    margin: 0 0 72px 0;
    font-family: Roboto-Bold;
    font-size: 72px;
    line-height: 72px;
}

h3 {
    margin: 0 0 24px 0;
    font-family: Roboto-Bold;
    font-size: 56px;
    line-height: 72px;
}

.titleShort {
    margin: 0 0 24px 0;
}

p {
    margin: inherit;
    font-family: Georgia;
    font-size: 40px;
    line-height: 48px;
}

.caption {
    margin: inherit;
    font-family: Roboto-Regular;
    font-size: 12px;
    line-height: 24px;
}

a {
    text-decoration: none;
    outline: none;
    transition: 0.3s ease;
}

a.blue:hover {
    color: #46A8FF;
}

a.pink:hover {
    color: #FF6BA0;
}

a.orange:hover {
    color: #FFC26A;
}

a.green:hover {
    color: #4FCC6B;
}

ul {
    list-style: none;
    padding-left: 0;
}

section {
    padding: 96px 64px 192px 32px;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    width: 50%;
    margin: 0 0 72px 0;
    padding: 0 88px 0 0;
}

footer {
    padding: 0 0 32px 32px;
}

.logo {
    position: fixed;
    top: 32px;
    left: 32px;
    z-index: 999;
    transition: 0.4s cubic-bezier(0.59,-0.01, 0.11, 0.99);
    width: 40px;
}

.logo:hover {
    transform: scale(1.1) rotate(10deg);
}

.underline {
    height: 1px;
    width: 90vw;
    margin: 0 0 24px 0;
    background: #FFF;
}

button {
    margin: 48px 0 0 0;
    font-family: Georgia-Bold;
    font-size: 48px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    color: #FFF;
    background-color: #7D57FF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.59,-0.01, 0.11, 0.99);
}

button:hover {
    color: #FFC26A;
    background-color: #FF6BA0;
    transform: rotate(150deg) scale(1.1);
}

.loadIn {
    opacity: 0;
    animation-name: loadIn;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes loadIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.colorWave:hover {
    animation-name: colorWave;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes colorWave {
    0% {color: #FFC26A;}
    25% {color: #4FCC6B;}
    50% {color: #46A8FF;}
    75% {color: #FF6BA0;}
    100% {color: #FFC26A;}
}

@media only screen and (max-width: 950px) {
    .flexWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .column {
        width: 100%;
        margin: 0 0 72px 0;
        padding: 0 88px 0 0;
    }

    .mobileBreak {
        margin: 0 0 0 0;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        margin: inherit;
        font-family: Georgia-Bold;
        font-size: 40px;
        line-height: 48px;
    }

    h2 {
        margin: 0 0 40px 0;
        font-family: Roboto-Bold;
        font-size: 40px;
        line-height: 40px;
    }

    h3 {
        margin: 0 0 16px 0;
        font-family: Roboto-Bold;
        font-size: 32px;
        line-height: 32px;
    }

    p {
        margin: inherit;
        font-family: Georgia;
        font-size: 24px;
        line-height: 32px;
    }

    section {
        padding: 96px 64px 120px 32px;
    }

    .column {
        width: 100%;
        margin: 0 0 32px 0;
        padding: 0 88px 0 0;
    }

    .mobileBreak {
        margin: 0 0 0 0;
    }
}